<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | HandMadeProject</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white">
  <div class="flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-4 rounded-xl shadow-lg px-10 py-1 my-1">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://atharvapawar456.github.io/HandMadeProjects/static/your-logo.png" alt="HandMadeProject">
        <h1 class="text-xl font-bold text-center text-gray-900">
          HandMadeProjects
        </h1>
        <h2 class="mt-1 text-center text-3xl font-extrabold text-gray-900">
            Create a new account
        </h2>
      </div>
      <form class="mt-4 space-y-1" method="POST">
        {% csrf_token %}
        {% for message in messages %}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
          </div>
        {% endfor %}
        <div>
          <label for="username" class="label">Username</label>
          <div class="border border-2 rounded-md">
            <input id="username" name="username" type="text" autocomplete="username" required class="input-field appearance-none block w-full px-3 py-2" placeholder="Username">
          </div>
        </div>
        <div>
          <label for="email" class="label">Email address</label>
          <div class="border border-2 rounded-md">
            <input id="email" name="email" type="email" autocomplete="email" required class="input-field appearance-none block w-full px-3 py-2" placeholder="Email address">
          </div>
        </div>
        <div>
          <label for="address" class="label">Address</label>
          <div class="border border-2 rounded-md">
            <input id="address" name="address" type="text" autocomplete="street-address" required class="input-field appearance-none block w-full px-3 py-2" placeholder="Address">
          </div>
        </div>
        <div>
          <label for="contact" class="label">Contact Number</label>
          <div class="border border-2 rounded-md">
            <input id="contact" name="contact" type="number" autocomplete="tel" required maxlength="10" pattern="[0-9]{10}" class="input-field appearance-none block w-full px-3 py-2" placeholder="Contact Number"
            oninput="this.value = this.value.slice(0, 10);">
          </div>
        </div>
        <div>
          <label for="password" class="label">Password</label>
          <div class="relative border border-2 rounded-md">
            <input id="password" name="password" type="password" autocomplete="new-password" required class="input-field appearance-none block w-full px-3 py-2" placeholder="Password">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 right-4 cursor-pointer h-5 w-5 top-1/2 transform -translate-y-1/2" viewBox="0 0 20 20" fill="currentColor" id="togglePassword">
              <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
              <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.292 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
            </svg>
            <script>
              const input = document.getElementById('password');
              const toggle = document.getElementById('togglePassword');
              toggle.addEventListener('click', function() {
                if (input.type === 'password') {
                  input.type = 'text';
                  toggle.classList.remove('fa-eye-slash');
                  toggle.classList.add('fa-eye');
                } else {
                  input.type = 'password';
                  toggle.classList.add('fa-eye-slash');
                  toggle.classList.remove('fa-eye');
                }
              });
              input.addEventListener('input', function() {
                const password = input.value;
                const hasUpper = /[A-Z]/.test(password);
                const hasLower = /[a-z]/.test(password);
                const hasNumber = /[0-9]/.test(password);
                const hasSymbol = /[!@#$%^&*]/.test(password);
                const hasLength = password.length >= 6;
                const isValid = hasUpper && hasLower && hasNumber && hasSymbol && hasLength;
                if (isValid) {
                  input.setCustomValidity('');
                } else {
                  input.setCustomValidity('Password must have: 1 upper case, 1 lower case, 1 number, 1 symbol, and 6 length');
                }
              });
            </script>
            
          </div>
          <p class="text-xs text-gray-600 mt-1">
            Note: Your password must have
            <span class="font-bold">at least 6 characters</span>,
            <span class="font-bold">1 uppercase letter</span>,
            <span class="font-bold">1 lowercase letter</span>,
            <span class="font-bold">1 number</span>, and
            <span class="font-bold">1 special character</span>.
          </p>
        </div>

        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Register
          </button>
        </div>
      </form>
      <div class="text-sm text-center">
        <p>Already have an account? 
          <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">
            Sign in here
          </a>
        </p>
      </div>
    </div>
  </div>
</body>
